@media (max-width: 1200px) {
	header{
		height: 650px;
	}
	header .download{
		margin-top: 320px;
	}
	.overview{
		padding-bottom: 50px;
	}
	.overview h2{
		font-size: 35px;
	}
	.testimonial .carousel{
		padding: 80px 160px 0;
	}
}
@media (max-width: 992px) {
	header .download{
		margin-top: 285px;
	}
	.editor h2{
		font-size: 50px;
	}
	.testimonial .carousel{
		padding: 80px 100px 0;
	}
}
@media (max-width: 768px) {
	.overview{
		padding-bottom: 580px;
	}
	.testimonial .carousel{
		padding: 80px 20px 0;
	}
	.testimonial .social i{
		position: absolute;
		margin-top: 5px;
		left: 0;
		margin-left: 180px;
	}
}
@media (max-width: 576px) {
	.testimonial .social i{
		position: absolute;
		margin-top: 5px;
		left: 0;
		margin-left: 140px;
	}
}