@media (max-width: 1200px) {
	
}
@media (max-width: 992px) {
	
}
@media (max-width: 768px) {
	.navbar{
		background-color: black;
		height: auto;
	}
	.contact form{
		margin-top: 20px;
	}
}
@media (max-width: 576px) {
	.work .img-item h6{
		padding: 15px 25px 5px;
	}
}